body {
    background-color: black;
}

@font-face {
    font-family: Hack;
    src: url(../fonts/Hack-Regular.ttf);
}

#container {
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

header {
    width: 100%;
    height: 280px;
}

#border {
    height: 200px;
    width: 200px;
    border-radius: 120px;
    margin-top: -100px;
    margin-left: auto;
    margin-left: auto;
}

nav {
    border: 5px solid rgb(174, 0, 255);
    border-radius: 20px;
    height: 720px;
    width: 30%;
    margin-top: 20px;
    float: left;
}

article {
    border: 5px solid rgb(0, 217, 255);
    border-radius: 20px;
    height: 720px;
    width: 68%;
    margin-top: 20px;
    float: right;
}

footer {
    border: 1px solid red;
    height: 160px;
    float: left;
    width: 100%;
    margin: 20px;
    margin-left: 0px;
}

#links {
    width: 100%;
    height: 60px;
}

#links img{
    margin-top: -20px;
    height: 60px;
    width: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#message {
    font-size: 32px;
    font-family: Hack;
    color: rgb(211, 211, 211);
    width: 100%;
    margin-top: 50px;
}
