body {
    background-color: black;
    font-family: Hack;
    color: rgb(211, 211, 211);
}

@font-face {
    font-family: Hack;
    src: url(../fonts/Hack-Regular.ttf);
}

#container {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

/*------------ HEAD OF THE SITE ------------*/
header {
    width: 100%;
    height: 480px;
    background-color: rgba(31,30,31,255);
    border-radius: 20px;
}

#center {
    border: 1px solid transparent;
    width: 100%;
    height: 100px;
}

#gradient img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 5px;
}

#gradient {
    margin-top: -110px;
    float: center;
    border-radius: 100%;
    height: 210px;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(-45deg, rgb(0, 195, 255), rgb(255, 0, 234));
}

#contact {
    padding-top: 3px;
    float: right;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid  rgb(255, 0, 234);
    background-color: rgba(31,30,31,255);
    margin-top: -50px;
    margin-right: 10%;
}

#curriculum {
    padding-top: 3px;
    float: left;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(0, 195, 255);
    background-color: rgba(31,30,31,255);
    margin-top: -50px;
    margin-left: 10%;
}

#curriculum a, #contact a {
    color: rgb(211, 211, 211);
    font-size: 28px;
    text-decoration: none;
}

#curriculum a:hover, #contact a:hover {
    text-decoration: underline;
}

#title {
    margin-top: 15px;
    font-size: 35px;
}

#about {
    margin-top: -5;
}

#about h3 {
    font-size: 28px;
}

#about p {
    font-size: 22px;
}

#find {
    margin-top: -100px;
}

#links {
    width: 100%;
    height: 60px;
}

#links img{
    border-radius: 100%;
    margin-top: -15px;
    height: 60px;
    width: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

#message {
    width: 100%;
    margin-top: 120px;
    font-size: 28px;
}

/*------------Posts------------*/

article {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    float: left;
}

article h1 {
    font-size: 35px;
}

article h2 {
    font-size: 30px;
    text-decoration: underline;
}

#info_1 {
    background: rgba(31,30,31,255);
    float: left;
    height: 520px;
    width: 35%;
    border: 5px solid rgb(0, 195, 255);
    border-radius: 20px;
}

#info_1 h1{
    font-size: 28px;
}

#info_1 p{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#info_1 a {
    font-size: 22px;
}

#project_1 {
    float: right;
    height: 520px;
    width: 62%;
    border-radius: 20px;
}

#project_1 img {
    border-radius: 20px;
    height: 520px;
    width: 99%;
    border: 5px solid rgb(212, 0, 255);
}

#info_2 {
    background: rgba(31,30,31,255);
    float: right;
    height: 480px;
    width: 35%;
    border: 5px solid rgb(0, 195, 255);
    border-radius: 20px;
}

#info_2 h1{
    font-size: 28px;
}

#info_2 p{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#info_2 a {
    font-size: 22px;
}

#project_2 {
    float: left;
    height: 520px;
    width: 62%;
    border-radius: 20px;
}

#project_2 iframe {
    border-radius: 20px;
    height: 480px;
    width: 99%;
    border: 5px solid rgb(212, 0, 255);
}

#info_3 {
    background: rgba(31,30,31,255);
    float: right;
    height: 480px;
    width: 35%;
    border: 5px solid rgb(0, 195, 255);
    border-radius: 20px;
}

#info_3 h1{
    font-size: 28px;
}

#info_3 p{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#info_3 a {
    font-size: 22px;
}

#project_3 {
    float: left;
    height: 480px;
    width: 62%;
    border-radius: 20px;
    border: 5px solid rgb(212, 0, 255);
}

#project_3 img {
    border-radius: 20px;
    height: 480px;
    width: 100%;

}

/*------------Footer------------*/

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    border: 5px solid rgb(211, 211, 211);
    border-radius: 20px;
    height: 100%;
    float: left;
    width: 100%;
    margin: 20px;
    margin-left: 0px;
}
