body {
    background-color: black;
}

h1 {
    color: #DFDFDF;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #DFDFDF;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: rgb(54, 54, 54);
    border: 1px solid red;
    width: 80%;
    height: 100px;
    margin: 30px auto;
    float: top;
}

.main {
    border: red 1px solid;
    width: 50%;
    height: 800px;
    margin: auto;
}